/*
 * File: public/css/form-health.css
 * Deskripsi: CSS khusus untuk form riwayat kesehatan.
 */

.form-content-container {
    background: #FDFBF1;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 0px;
    padding-left: 0px;
}

.col-form-label {
    font-family: "Noto Sans Georgian", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #000;
    text-align: left;
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    line-height: 1.5;
}

.col-form-label .text-danger {
    color: #ff0000;
}

.form-control, .form-control-file {
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #fff;
    height: 35px;
}

textarea.form-control {
    height: auto;
    min-height: 90px;
}

.form-control::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.input-group-text {
    background-color: #e9ecef;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 0;
    border-radius: 0 5px 5px 0;
    font-size: 13px;
    height: 35px;
}

.date-input-group {
    position: relative;
}
.date-input-group .form-control {
    padding-right: 2.5rem;
}
.date-input-group .input-group-append {
    position: absolute;
    top: 0;
    right: 0;
    height: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.date-input-group .input-group-text {
    background-color: transparent;
    border: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
}
.date-input-group .input-group-text img {
    width: 20px;
    height: 20px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.form-buttons-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    padding-top: 20px;
}

.btn-submit, .btn-cancel, .btn-delete {
    border-radius: 5px;
    width: 110px;
    height: 37px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
}

.btn-submit { background: #367fa9; }
.btn-cancel { background: #9a3b3b; margin-right: 10px; }
.btn-delete { background-color: #FF4242; margin-right: 10px; }

.btn-submit:hover { background: #2c698d; color: white }
.btn-cancel:hover { background: #803030; color: white; }
.btn-delete:hover { background-color: #e63939; color: white;
        }

/* Responsive */
@media (max-width: 767.98px) {
    .col-form-label {
        text-align: left;
        margin-bottom: 0.5rem;
    }
}
